@import url('https://fonts.googleapis.com/css2?family=Eater&family=Gloria+Hallelujah&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kedebideri:wght@400;500;600;700;800;900&family=Nanum+Brush+Script&family=Patrick+Hand&family=Reenie+Beanie&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



