@import url('https://fonts.googleapis.com/css2?family=Eater&family=Gloria+Hallelujah&family=Henny+Penny&family=Kedebideri:wght@400;500;600;700;800;900&family=Libertinus+Keyboard&family=Nanum+Brush+Script&family=Patrick+Hand&family=Rampart+One&family=Reenie+Beanie&family=Rubik+Doodle+Shadow&family=Shadows+Into+Light+Two&family=Share+Tech+Mono&family=Spirax&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



