@import url('https://fonts.googleapis.com/css2?family=Eater&family=Gloria+Hallelujah&family=Henny+Penny&family=Kedebideri:wght@400;500;600;700;800;900&family=Libertinus+Keyboard&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



